body {
  font-size: 16px;
  margin: 0;
  /* 1.5 * 16 = 24 (24px baseline) */
}
img {
  /* To make images responsive */
  max-width: 100%;
  height: auto;
}
header img {
  margin: .5em auto .5em .5em;
}
h1 {
  font-size: 1.75em;
  /* 1.5 * 16 = 24 */
  line-height: 1;
  /* 24 / 24 = 1 */
  margin: 1em 0;
}
h2 {
  font-size: 2em;
  /* 1.375 * 16 = 22px */
  line-height: 1.0909;
  /* 24 / 22 = 1.0909 */
  margin: 1.0909em 0;
}
h3 {
  font-size: 1.25em;
  /* 1.25 * 16 = 20px */
  line-height: 1.2;
  /* 24 / 20 = 1.2 */
  margin: 1.2em 0;
}
h4 {
  font-size: 1.125em;
  /* 1.125 * 16 = 18px */
  line-height: 1.333;
  /* 24 / 18 = 1.333 */
  margin: 1.333em 0;
}
h5, h6 {
  font-size: 1em;
  /* 1 * 16 = 16px */
  line-height: 1.5;
  /* 24 / 16 = 1.5 */
  margin: 1.5em 0;
}
p {
  line-height: 1.5;
}

footer {
  background: rgba(25, 25, 25, 1);
  margin: 1em 0 0 0;
  padding: .1em 0;
  color: white;
  width: 100%;
  text-align: center;
}
.container {
  margin: 6em auto 0 auto;
  width: 88%;
}
.wrapper {
  padding: 0;
}
.parallax1,
.parallax2,
.parallax21,
.parallax22,
.parallax23,
.parallax24,
.parallax3 {
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 50%;
  width: 100%;
  min-height: 30vh;
}

.sticky-parallax {
  font-size: 1.5em;
  margin: 0;
  text-align: right;
  padding: 20vh 7vw 0 0;
}

@media screen and (max-width: $min-desktop-width) {
  header img {
    display: block;
    margin: 0 auto;
  }
}
