%svg-common {
	background: url("../img/sprite-2192c536.svg") no-repeat;
}

.svg-bell-pepper {
	@extend %svg-common;
	background-position: 23.952095808383234% 99.71830985915493%;
}

.svg-bell-pepper-dims {
	width: 52.8px;
	height: 64px;
}

.svg-brown-pasta {
	@extend %svg-common;
	background-position: 75% 45.070422535211264%;
}

.svg-brown-pasta-dims {
	width: 64px;
	height: 64px;
}

.svg-chicken {
	@extend %svg-common;
	background-position: 50% 0;
}

.svg-chicken-dims {
	width: 64px;
	height: 64px;
}

.svg-chili {
	@extend %svg-common;
	background-position: 0 54.64788732394366%;
}

.svg-chili-dims {
	width: 64px;
	height: 64px;
}

.svg-meat-steak {
	@extend %svg-common;
	background-position: 25% 54.64788732394366%;
}

.svg-meat-steak-dims {
	width: 64px;
	height: 64px;
}

.svg-mushroom {
	@extend %svg-common;
	background-position: 50% 54.64788732394366%;
}

.svg-mushroom-dims {
	width: 64px;
	height: 64px;
}

.svg-olives {
	@extend %svg-common;
	background-position: 75% 0;
}

.svg-olives-dims {
	width: 64px;
	height: 64px;
}

.svg-pasta {
	@extend %svg-common;
	background-position: 25% 0;
}

.svg-pasta-dims {
	width: 64px;
	height: 64px;
}

.svg-pesto {
	@extend %svg-common;
	background-position: 0 99.71830985915493%;
}

.svg-pesto-dims {
	width: 64px;
	height: 64px;
}

.svg-piece-of-cheese {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-piece-of-cheese-dims {
	width: 64px;
	height: 77.6px;
}

.svg-pink {
	@extend %svg-common;
	background-position: 45.625% 99.71830985915493%;
}

.svg-pink-dims {
	width: 64px;
	height: 64px;
}

.svg-red {
	@extend %svg-common;
	background-position: 70.625% 99.71830985915493%;
}

.svg-red-dims {
	width: 64px;
	height: 64px;
}

.svg-shrimp {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-shrimp-dims {
	width: 64px;
	height: 64px;
}

.svg-white {
	@extend %svg-common;
	background-position: 100% 45.070422535211264%;
}

.svg-white-dims {
	width: 64px;
	height: 64px;
}

